// colors
$primary-color-blue: #2b2bd9;
$black-color: #000;
$white-color: #fff;
$error-color: #f20c0c;
$gradient: linear-gradient(74.47deg, #4158d0 0%, #ab94d1 26.4%, #c850c0 50%, #ffcc70 100%);

// breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 850px;
$mobile-breakpoint: 600px;
$content-max-width: $desktop-breakpoint;
